<%- partial('_partial/header') %>

<article class="post">
  <div class="post-title">
    <h1 class="article-title"><%= page.title %></h1>
  </div>

  <!-- 文章目录 -->
  <%- toc(page.content, {list_number: false}) %>

  <div class="post-content">
    <%- page.content %>
  </div>
  <div class="post-meta">
    <span class="post-time" style="color:#646060;font-size:13px"><%- date(page.date, "YYYY-MM-DD") %></span>
  </div>

  <div class="post-footer">
    <% if (page.tags && page.tags.length){ %>
      <%- list_tags(page.tags, {
        show_count: false,
        class: 'post-tag'
      }) %>
    <% } %>

    <a href="#top" class="top"><%= __('Post.Top') %></a>
  </div>
</article>

<!-- 评论插件 -->
<% if (theme.gitment.client_id && theme.gitment.client_secret && theme.gitment.enable ){ %>
    <div id="gitalk-container"></div>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
    <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
    <script>
    var gitalk = new Gitalk({
        id: '<%= page.title %>',
        owner: '<%= theme.gitment.owner %>',
        repo: '<%= theme.gitment.repo %>',
        oauth: {
            client_id: '<%= theme.gitment.client_id %>',
            client_secret: '<%= theme.gitment.client_secret %>',
        },
    })
    gitalk.render('gitalk-container')
    </script>
<% } %>

<%- partial('_partial/footer') %>
